{% extends 'bootstrap_base.html' %}
{% block body %}
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <form action="" class="form-inline">
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group">
                                <lable class="col-md-4 control-label">接口名</lable>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <lable class="control-label">线程数</lable>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <lable class="control-label">执行时长</lable>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <lable class="control-label">主机名</lable>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <lable class="control-label">端口</lable>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <lable class="control-label">方法</lable>
                                <input type="text" class="form-control">
                            </div>
                        </td>

                    </tr>
                </table>
            </form>
        </div>
    <p id="show_p">{ "name": "Brett", "address":"北京路23号", "email": "123456@qq.com" }</p>
<pre id="out_pre"></pre>

    </div>
    <script type="text/javascript">

　 var text = document.getElementById('show_p').innerText; //获取json格式内容

   var result = JSON.stringify(JSON.parse(text), null, 2);//将字符串转换成json对象

   document.getElementById('out_pre').innerText= result ;
　
</script>
{% endblock %}