{% extends 'bootstrap_base.html' %}
{% load static %}
{% load diy_tag %}
{% block mytitle %}Daily{% endblock %}
{% block bodycontent %}
    <h4 align="left">功能任务<a href="http://ttd.swat.ctripcorp.com:8099/#/testApplyList" target="_blank">(TDS)</a></h4>
    <table  class="table table-striped" style="text-align: left">
        <tr>
            <td>项目名</td>
            <td>影响app</td>
            <td>分支明细</td>
            <td>开发</td>
            <td>提测日期</td>
            <td>发布日期</td>
            <td>相关链接</td>
        </tr>
        {% for key,value in data.items %}
            <tr>
                {% if value.type == '项目' %}
                    <td>{{ key }}:{{ value.project_code }}</td>
                {% else %}
                    <td><a href="http://cp4.mgmt.ctripcorp.com/browse/{{ value.project_code }}" target="_blank">{{ key }}</a></td>
                {% endif %}
                <td>{{ value.affect_app|rep:',' }}</td>
                <td>
                    {% for key1,value1 in value.affect_api.items %}
                        <a href="http://cd.release.ctripcorp.com/#/app/{{ key1 }}/deployment/ctrip/fat" target="_blank">{{ key1 }}</a>:{{ value1.branch }}
                    {% endfor %}
                </td>
                <td>{{ value.submitter }}</td>
                <td>{{ value.submitDate }}</td>
                <td>{{ value.releaseETA }}</td>
                {% for foo in value.affect_app|get_list:',' %}
                    {% if foo %}
                        <td><a href="http://logcube.ctripcorp.com/#?app={{ foo }}" target="_blank">clog</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}