{% extends 'bootstrap_base.html' %}
{% load static %}
{% load diy_tag %}
{% block mytitle %}Daily{% endblock %}
{% block bodycontent %}
    <h4 align="left">功能任务<a href="http://ttd.swat.ctripcorp.com:8099/#/testApplyList" target="_blank">(TDS)</a></h4>
    <style type="text/css">
    button {
      width: 6em
    }
    #tds:hover span {
      display: none
    }

    #tds:hover:before {
      content: '完成';
    }
    </style>
    <table class="table table-bordered" style="text-align: left">
        <tr>
            <td>项目名</td>
            <td>影响app</td>
            <td>分支明细</td>
            <td>开发</td>
            <td>提测日期</td>
            <td>发布日期</td>
            <td>相关链接</td>
            <td>是否完成</td>
        </tr>
{#        type==self是自己录入数据库的#}
        {% for key,value in data.items %}
            <tr>
                {% if value.type == '项目' %}
                    <td>{{ key }}:{{ value.project_code }}</td>
                {% else %}
                    {% if value.type == 'self' %}
                         <td><a href="http://cp4.mgmt.ctripcorp.com/browse/{{ value.cp4 }}"
                           target="_blank">{{ key }}</a></td>
                    {% else %}
                        <td><a href="http://cp4.mgmt.ctripcorp.com/browse/{{ value.project_code }}"
                           target="_blank">{{ key }}</a></td>
                    {% endif %}
                {% endif %}
                <td>{{ value.affect_app|rep:',' }}</td>
                <td>
                {% if value.type == 'self' %}
                    <a href="http://cd.release.ctripcorp.com/#/app/{{ value.affect_app }}/deployment/ctrip/fat"
                           target="_blank">{{ value.affect_app }}</a>:{{ value.affect_api }}
                {% else %}
                    {% for key1,value1 in value.affect_api.items %}
                        <a href="http://cd.release.ctripcorp.com/#/app/{{ key1 }}/deployment/ctrip/fat"
                           target="_blank">{{ key1 }}</a>:{{ value1.branch }}
                    {% endfor %}
                {% endif %}
                </td>
                <td>{{ value.submitter }}</td>
                <td>{{ value.submitDate }}</td>
                <td>{{ value.releaseETA }}</td>
                {% for foo in value.affect_app|get_list:',' %}
                    {% if foo %}
                        <td><a href="http://logcube.ctripcorp.com/#?app={{ foo }}" target="_blank">clog</a></td>
                    {% endif %}
                {% endfor %}
                {% if value.type == 'self' %}
                    <form action="/dailywork/daily/{{ key }}">
                        <td><button id="tds" class="btn btn-default btn-sm"><span class="hover">未完成</span></button></td>
                    </form>
                    {% else %}
                    <td><button class="btn btn-default btn-sm" disabled="disabled"><span class="no">未完成</span></button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <hr>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="col-md-2">
                    <label for="project_name" class="control-label">{{ field.label }}</label>
                </div>
                <div class="col-md-8">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>提交
            </button>
        </div>
    </form>
{#    日期控件#}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.rs.js' %}" charset="UTF-8"></script>
    <script type="text/javascript">
        $('.form_date').datetimepicker({
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>

{% endblock %}