{% extends "bootstrap_base.html" %}
{% load static %}
{% block mytitle %}tools{% endblock %}

{% block js %}
    <script src="{% static 'js/codemirror/codemirror.js' %}"></script>
    <script src="{% static 'js/codemirror/javascript.js' %}"></script>
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static 'css/codemirror/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'css/codemirror/mdn-like.css' %}">
    <link rel="stylesheet" href="{% static 'css/codemirror/solarized.css' %}">
    <link rel="stylesheet" href="{% static 'css/codemirror/duotone-light.css' %}">
    <style>
        body {
            min-height: 300px;
            padding-top: 90px;
            background: #f6f6f6;
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

    </style>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-default" type="button" onclick="json_view()">整理代码</button>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <label for="node" class="control-label sr-only">选择节点:</label>
                                    <input type="text" class="form-control" id="node" placeholder="节点已 . 分隔">
                                    <button class="btn btn-success" onclick="parse_json()" type="button">
                                        <span class="glyphicon glyphicon-send"></span> 点击运行
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        <label for="code"></label>
                        <textarea name="code" id="code"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form action="" class="form-inline">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-info" onclick="" type="button">
                                        <span class="glyphicon glyphicon-send"></span> 运行结果
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
{#                        <iframe src="" frameborder="0" style="height: 615px" id="result"></iframe>#}
                        <label for="result"></label><textarea disabled readonly id="result" style="width: 100%; height: 615px;resize: none; border: 0" ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function json_view() {
            let text = document.getElementById('area_left').value; //获取json格式内容
            try {
                let json;
                json = JSON.stringify(JSON.parse(text), null, 2);//将字符串转换成json对象
                document.getElementById('area_left').value = json;
            } catch (e) {
                document.getElementById('area_left').value = text;
            }
        }

        let editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,	//显示行号
            theme: "mdn-like",	//设置主题
            lineWrapping: true,	//代码折叠
        });
        editor.setSize("100%", '600px');    //给代码框赋值
        {#        editor.setValue("");    //获取代码框的值#}

        function parse_json() {
{#            let text = document.getElementById('code').value; //获取json格式内容#}
            let text = editor.getValue();
            let node = document.getElementById('node').value;
            let array = node.split('.');
            let json_obj = JSON.parse(text);
            let json_node = json_obj;
            for (j = 0; j < array.length - 1; j++) {
                json_node = json_node[array[j]]
            }
            let node_last = array[array.length - 1];
            let node_out = '';
            for (let x in json_node) {
                node_out = node_out  + json_node[x][node_last]+ '\r\n';
            }
            document.getElementById('result').innerHTML = node_out;
            console.log(node_out);
        }

    </script>
{% endblock %}